# Copiar a .env y completar:  cp .env.example .env
COMPOSE_PROJECT_NAME=microapp

# Docker Hub
DOCKERHUB_USER=patriciogomezkn
APP_NAME=microapp
APP_TAG=latest

# Django
DJANGO_SECRET_KEY=cambiar-por-una-clave-larga-y-aleatoria
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173
RUN_MIGRATIONS=1
RUN_COLLECTSTATIC=1

# PostgreSQL
POSTGRES_DB=microapp
POSTGRES_USER=microapp
POSTGRES_PASSWORD=cambiar-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Puertos y frontend
BACKEND_PORT=8000
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:8000
